* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clear {
	clear: both;
}

body {
	background-color: #edf2f9;
}

/* Animate open book */

.nav-link img {
	width: 24px;
	height: 24px;
}

.nav-link .open__book {
	display: none;
}

.nav-link.active .book {
	display: none;
}

.nav-link.active .open__book {
	display: inline-block;
}

/* Producer */

.author {
	position: fixed;
	font-size: 30px;
	right: 10px;
	width: 100px;
	height: 200px;
	padding: 8px;
	border-radius: 5px;
	background: #b7c8e2;
	box-shadow: 5px 5px 10px #e0dede, -5px -5px 10px #ffffff;
}

.author .class__name {
	color: #acacac;
	text-align: center;
	font-weight: 600;
	border-radius: 5px;
	background: rgb(241, 241, 241);
	box-shadow: inset 2px 2px 3px #bebebe, inset -2px -2px 3px #ffffff;
	text-shadow: 1px 1px 2px #bebebe, -1px -1px 2px #ffffff;
}

.author .txtdeepshadow {
	margin-top: 8px;
	text-align: center;
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic,
		'AppleGothic', sans-serif;
	height: 132px;
	padding-top: 18px;
	color: #acacac;
	border-radius: 5px;
	background-color: #e9f1f2;
	letter-spacing: 0.1em;
	text-shadow: 1px 1px 2px #bebebe, -1px -1px 2px #ffffff;
	box-shadow: inset 2px 2px 3px #bebebe, inset -2px -2px 3px #ffffff;
}

/* Layout */
.col-2,
.col-10 {
	padding: 0;
}

.col-2 {
	z-index: 1;
}

/* Side Bar */

.nav_homework {
	width: 100%;
	height: 550px;
	padding: 20px;
	border-radius: 5px 0 0 5px;
	background-image: radial-gradient(
		circle farthest-corner at 1.3% 2.8%,
		rgba(239, 249, 249, 1) 0%,
		rgb(227, 238, 255) 100.2%
	);
	box-shadow: 5px 5px 10px #d0d0d0, -5px -5px 10px #ffffff;
}

.nav-link {
	margin-top: 12px;
	border-radius: 5px;
	background: #ecf0f3;
	box-shadow: 5px 5px 10px #d0d0d0, -5px -5px 10px #ffffff;
	transition: all 0.75s;
}

/* Content */
.homework {
	position: relative;
	width: 100%;
	height: 550px;
	padding: 20px 0 20px 24px;
	border-radius: 0 5px 5px 0;
	background: #f5f5f5;
	box-shadow: 5px 5px 10px #d0d0d0, -5px -5px 10px #ffffff;
	background-image: radial-gradient(
		circle farthest-corner at 1.3% 2.8%,
		rgba(239, 249, 249, 1) 0%,
		rgba(182, 199, 226, 1) 100.2%
	);
}

.title {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	padding: 12px;
	border-radius: 5px;
	background: #ecf0f3;
	box-shadow: 5px 5px 10px #d0d0d0, -5px -5px 10px #ffffff;
	border-left: 4px solid rgb(255, 177, 67);
}

.title img {
	width: 32px;
	height: 32px;
}

.title h5 {
	margin: 0 0 0 8px;
}

.form_primary {
    height: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-control:focus {
	color: #495057;
	background-color: #e9f2f4c1;
	border-color: transparent;
	outline: 0;
	box-shadow: unset;
	box-shadow: inset 2px 2px 3px #bebebe, inset -2px -2px 3px #ffffff;
}

.input__form {
	display: inline-block;
	width: 25%;
	border-radius: 5px;
	background: #e9f2f4;
	box-shadow: inset 2px 2px 3px #bebebe, inset -2px -2px 3px #ffffff;
}

.btn-primary {
	display: inline-block;
	width: 10%;
}

.form__result {
	margin: 30px 20px;
	padding: 12px 20px 0;
	width: 92%;
	height: 290px;
	border: 1px solid #b9dacb;
	border-radius: 5px;
	background-color: #d1e7dd;
	box-shadow: inset 2px 2px 3px #bebebe, inset -2px -2px 3px #ffffff;
}

.form__result .cat {
	display: block;
	width: 75px;
	height: 75px;
}

.form__result .fish {
	display: inline-block;
	width: 30px;
	height: 30px;
}

.form__result > h5 {
	display: inline-block;
	color: #656565;
	min-width: 150px;
	height: 50px;
	padding: 12px;
	border-radius: 5px;
	background: #ecf0f3;
	box-shadow: 5px 5px 10px #d0d0d0, -5px -5px 10px #ffffff;
}

.text__result {
	color: #ff6d00ad;
	text-shadow: 1px 1px 2px #ff6d00ad, -1px -1px 2px #ffffff;
}
