* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #edf2f9;
}

.clear {
	clear: both;
}

.container {
	width: 60%;
}

.form__primary {
	position: relative;
	width: 100%;
	min-height:90vh;
	padding: 20px 100px;
	border-radius: 0 5px 5px 0;
	background: #f5f5f5;
	box-shadow: 5px 5px 10px #d0d0d0, -5px -5px 10px #ffffff;
	background-image: radial-gradient(
		circle farthest-corner at 1.3% 2.8%,
		rgba(239, 249, 249, 1) 0%,
		rgba(182, 199, 226, 1) 100.2%
	);
}

.form_sub {
	display: flex;
	align-items: center;
}

.input__primary {
	display: inline-block;
	width: 25%;
	border-radius: 5px;
	background: #e9f2f4;
	box-shadow: inset 2px 2px 3px #bebebe, inset -2px -2px 3px #ffffff;
}

.btn__box {
	display: inline-block;
}

.result {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	border-radius: 4px;
	margin-bottom: 50px;
	background-color: #d1e7dd;
}

.result img {
	width: 18px;
	height: 18px;
	margin-left: 12px;
}

.body{

}

.dropdown-toggle {
	width: 100%;
	padding: 12px 12px 18px;
	text-align: left;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #bebebe;
}

button:focus {
    outline: none;
}

.dropdown-toggle::after {
	display: none;
}

.form__primary .body .dropdown-menu{
	pos
}

.dropdown-menu {
	width: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
	transition: all .75s;
}
