* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #edf2f9;
}


.clear {
	clear: both;
}

.container{
	width: 60%;
}

.form__primary{
	position: relative;
    width: 100%;
    padding: 20px 0 20px 24px;
    border-radius: 0 5px 5px 0;
    background: #f5f5f5;
    box-shadow: 5px 5px 10px #d0d0d0, -5px -5px 10px #ffffff;
    background-image: radial-gradient(
		circle farthest-corner at 1.3% 2.8%,
		rgba(239, 249, 249, 1) 0%,
		rgba(182, 199, 226, 1) 100.2%
	);
}

