* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #edf2f9;
}

.clear {
	clear: both;
}

.container {
	width: 60%;
}

.form__primary {
	position: relative;
	width: 100%;
	padding: 20px 100px;
	border-radius: 0 5px 5px 0;
	background: #f5f5f5;
	box-shadow: 5px 5px 10px #d0d0d0, -5px -5px 10px #ffffff;
	background-image: radial-gradient(
		circle farthest-corner at 1.3% 2.8%,
		rgba(239, 249, 249, 1) 0%,
		rgba(182, 199, 226, 1) 100.2%
	);
}

.form_sub{
	display: flex;
	align-items: center;
}

.input__primary{
	display: inline-block;
    width: 25%;
    border-radius: 5px;
    background: #e9f2f4;
    box-shadow: inset 2px 2px 3px #bebebe, inset -2px -2px 3px #ffffff;
}

.btn__box{
	display: inline-block;
}

.result{
	width: 100%;
	height: 50px;
	border-radius: 4px;
	background-color: #D1E7DD;
}

.result img{
	width: 30px;
	height: 30px;
	lh
}